body {
    width: 1440px;
    height: 1024px;
    background: #FEFFE4;
}

.formulario{
    width: 420px;
    height: 439px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.entrada-formulario{
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    
}